button {
  cursor: pointer;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 30px;
  color: var(--white);
  border: 1px solid var(--orange);
  background-color: transparent;
  transition: color 0.3s ease 0.2s;

  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  z-index: 0;

  font-size: var(--font-s);
  font-weight: var(--medium);
}

.btn-primary {
  color: var(--main-black);
  background-color: var(--main-black);
}
.btn-secondary {
  color: var(--white);
  background-color: var(--white);
}
button:active {
  transform: translateX(5px);
}
