.chip {
  width: fit-content;
  font-size: var(--font-s);
  font-weight: var(--medium);
  color: var(--main-black);
  opacity: 0.6;

  display: flex;
  align-items: center;
  padding: 5px 10px;
  gap: 16px;
}

.chip-text {
  font-size: var(--font-s);
  font-weight: var(--bold);
  text-transform: uppercase;
  font-family: var(--secondary-font);
}

.chip-icon {
  width: 12px;
  height: 12px;
  background-color: var(--main-black);
  transform: rotate(45deg);
}

.chip-gray {
  color: var(--offwhite);
}

.chip-gray .chip-icon {
  background-color: var(--offwhite);
}

.chip-white {
  opacity: 1;
  color: var(--white);
}

.chip-white .chip-icon {
  background-color: var(--white);
}
