*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
}
body {
  line-height: 1.5;
  background-color: var(--main-black);
  font-family: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
a {
  text-decoration: none;
  color: inherit;
}
