.header-section {
  width: 100%;
  padding: 50px 20px;
}

.header-container {
  margin: 0 auto;
  max-width: var(--max-width);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.header-logo {
  width: 365px;
}

.header-nav-container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-item.active {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.nav-item {
  list-style: none;
  position: relative;
}

.nav-link {
  color: var(--white);
  font-family: var(--secondary-font);
  font-size: var(--font-xl);
  font-weight: var(--regular);
  line-height: normal;
  text-decoration: none;
  opacity: 0.7;
  transition: opacity 0.2s ease 0.2s;
}

.nav-item.active .nav-link,
.nav-link:hover {
  opacity: 1;
}

.nav-link::after {
  content: "";
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  background: var(--orange);
  position: absolute;
  top: 10px;
  left: -25px;
  opacity: 0;
  transition: opacity 0.2s ease 0.2s;
}

.nav-item.active::after,
.nav-item:hover::after {
  opacity: 1;
}

.header-btn {
  color: var(--white);
  font-family: var(--secondary-font);
  font-size: var(--font-xl);
  font-weight: var(--regular);
  line-height: normal;
}

.mobile-menu-btn {
  display: none;
  color: var(--white);
  font-family: var(--primary-font);
  font-size: var(--font-xl);
  font-weight: var(--regular);
  line-height: normal;
  cursor: pointer;
  transition: all 0.2s ease 0.2s;
}

.mobile-menu-btn:hover {
  color: var(--orange);
  scale: 1.1;
}

@media screen and (max-width: 1200px) {
  .header-section {
    padding: 40px 20px;
  }

  .header-logo {
    width: 300px;
  }

  .header-nav-container,
  .nav-list {
    gap: 40px;
  }

  .nav-link,
  .header-btn {
    font-size: var(--font-l);
  }

  .nav-item::after {
    width: 10px;
    height: 10px;
    left: -20px;
  }
}

@media screen and (max-width: 992px) {
  .header-section {
    padding: 30px 20px;
  }

  .header-logo {
    width: 200px;
  }

  .header-nav-container,
  .nav-list {
    gap: 30px;
  }

  .nav-link,
  .header-btn {
    font-size: var(--font-m);
  }

  .nav-item::after {
    width: 8px;
    height: 8px;
    left: -15px;
  }
}

@media screen and (max-width: 768px) {
  .header-section {
    padding: 20px;
  }

  .header-logo {
    width: 150px;
  }

  .header-nav-container {
    display: none;
  }

  .mobile-menu-btn {
    display: block;
  }
}
