@import "./global/button.css";
@import "./global/chip.css";
@import "./global/reset.css";
@import "./global/variables.css";
@import "./sections/footer.css";
@import "./sections/header.css";
@import "./sections/hero.css";

.btn-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--main-black);
  gap: 20px;
}
.primary {
  background-color: var(--orange);
}
.secondary {
  background-color: var(--white);
}
